upstream backend  {
    server {{ hostvars['vm2'].ansible_host }} weight=5;
    server {{ hostvars['vm3'].ansible_host }};
}
server {
    listen 80;
    location / {
        proxy_pass http://backend;
    }
}
